---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/navigation/navigation";
import Footer from "../components/footer/footer";
import SectionAbout from "../sections/section-about/section-about";

const pageTitle = "About Sinisa Mikulic - Web development expert";
const pageDescription =
  "Sinisa Mikulic is a proven web applications developer with over 10 years of experience. He helps early stage startups and established companies deliver their products so they can gain interest from investors, bring value to their users and meet their business goals.";
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <main class="container">
    <Navigation />
    <SectionAbout />
    <Footer />
  </main>
</BaseLayout>
